PORT=5000
DB_HOST=your-railway-mysql-host
DB_USER=root
DB_PASS=your-railway-mysql-password
DB_NAME=votesecure
DB_PORT=3306
JWT_SECRET=VoteSecureEVM_SuperSecretKey_2024_ElectionCommissionOfIndia!
JWT_EXPIRE=24h
NODE_ENV=production
UPLOAD_DIR=uploads
